@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

/***************** Top Players Part *****************/
body {
    background: #F3F1FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-players {
    width: 870px;
    padding-left: 30px;
    padding-bottom: 30px;
    background: #FFFFFF;
    /* border-radius: 10px; */
}

.players-header {
    color: #562EFF;
    font-size: 24px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
}

.player-name {
    padding-left: 15px;
}

.player img {
    width: 56px;
    height: 56px;
}